body {
//	padding-top:50px;
}

#hero {

	background-size: cover;

	#hero-inner {
		background-color: rgba(0,0,0,0.3);
		padding-top: 70px;
	}

/*	.container-fluid,
	.container {
		padding:0;
	}
	*/
	.row {
		margin:0;
	}
	div[class^="col-"] {
		padding:0;
	}
}

#intro {

	padding-top: 40vh;
	padding-bottom: $inner-padding*2;

	text-shadow: 0 2px 10px #0F0F0F;

	a {
		display: block;
		position: relative;
		height:100%;
		color: white;

		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}

	h1 {
		font-size: $font-size-huge;
		font-style: italic;
		margin-top:-20px;
	}

	.lead {
		font-size: $font-size-h3;
		display:inline;
		border-bottom: 2px solid rgba(255,255,255,0.4);
	}

	a:hover .lead {
		border-color: rgba(255,255,255,1);
	}

}

#featured {
	padding-top: $inner-padding*2;
	padding-bottom: $inner-padding*2;
}

#intro,
#featured {

	@media (min-width: $screen-md-min) {
		padding-top: 40vh;
		padding-bottom: $inner-padding*4;
	}

}

#events-latest {
	padding: $inner-padding 0;
}

#news-latest {
	background-color: $gray-lighter;
	@extend .clearfix;
	padding: $inner-padding 0;
}

.teaser {

	background-color: #fff;
	margin-bottom: $inner-padding;

	.row {
		margin:0;
	}
	div[class^="col-"] {
		padding:0;
	}

	.inner {
		padding:$inner-padding;
	}

}

.teaser-event {
	border: 1px solid $brand-primary;
}

.event-meta {
	.event-date {

	}
	.event-category {
		text-transform: uppercase;
		color:$gray-light;
	}
}

.content-article {
	header {

		position: relative;

		h1 {
			position:absolute;
			bottom: 0;
			left:0;
			right:0;
			color:#fff;
			text-shadow: 0 2px 10px #0F0F0F;
			text-align: center;
			padding: 100px 0;
			margin:0;

			@include background-image(linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%));

		}
	}
}

#meta-nav {
	padding:$inner-padding 0;
	ul {
		text-align:center;
		margin:0;
	}
	li { display: inline-block; }
	a { font-size: $font-size-small;}
}
